ws-versioning-poc/src/main/resources/contract_0/address-book/address-book-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="addressbook-v1"
    targetNamespace="http://www.versioning.cucharitas.com/poc/addressbook-v1"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.versioning.cucharitas.com/poc/addressbook-v1"
    xmlns:ns1="http://www.versioning.cucharitas.com/poc/addressbook/2015/09"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.versioning.cucharitas.com/poc/addressbook/2015/09" schemaLocation="address-book-v1_1.xsd"/>
        </schema>
    </wsdl:types>

    <wsdl:message name="AddressResponse">
        <wsdl:part name="parameters" element="ns1:AddressResponse-v1_0" />
    </wsdl:message>
    <wsdl:message name="AddressRequest">
        <wsdl:part name="parameters" element="ns1:AddressRequest-v1_0" />
    </wsdl:message>
    <wsdl:message name="ListAddressRequest">
        <wsdl:part name="parameters" element="ns1:VoidRequest-v1_1" />
    </wsdl:message>
    <wsdl:message name="ListAddressResponse">
        <wsdl:part name="parameters" element="ns1:AddressResponse-v1_1" />
    </wsdl:message>


    <wsdl:portType name="addressbookProvider-v1_0">
        <wsdl:operation name="getAddress">
            <wsdl:input name="AddressRequest" message="tns:AddressRequest" />
            <wsdl:output name="AddressResponse" message="tns:AddressResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="addressbookProvider-v1_1">
        <wsdl:operation name="listAddress">
            <wsdl:input name="AddressRequest"  message="tns:ListAddressRequest"/>
            <wsdl:output name="AddressResponse" message="tns:ListAddressResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="getAddressSoapBinding-v1_0" type="tns:addressbookProvider-v1_0">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAddress">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="address">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addressResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="listAddressSoapBinding-v1_1" type="tns:addressbookProvider-v1_1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="listAddress">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="address">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addressResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="getAddress_v1_0">
        <wsdl:port name="getAddressPort" binding="tns:getAddressSoapBinding-v1_0">
            <soap:address location="http://localhost:9090/getAddressPort"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="listAddresses_v1_1">
        <wsdl:port name="getAddressPort" binding="tns:listAddressSoapBinding-v1_1">
            <soap:address location="http://localhost:9090/listAddressPort"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
